
config tcpfwd
	option enable '0'
	option local_address '127.0.0.1:5300'
	option remote_address '8.8.8.8:53'
	option ipv6_only '0'
	option range_mapping '0'

config udpfwd
	option enable '0'
	option local_address '127.0.0.1:5300'
	option remote_address '8.8.8.8:53'
	option timeout '60'
	option ipv6_only '0'

